{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block nav_heard  %}{% endblock %}
</head>


<body>


    <nav class="navbar navbar-default nav-fixed-top"  role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed"></button>
                <a style="color:#4f0a6b" class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>--->刘新彪</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="{% block nav_home_active %}{% endblock %}">
                        <a style="color:#5912b7" href="{%url 'home' %}">首页</a>
                    </li>
                    <li class="{% block nav_blog_active %}{% endblock %}">
                        <a style="color:#5912b7" href="{% url 'product_list' %}">我的购物史</a>
                    </li>
                    <li class="{% block article_active %}{% endblock %}">
                        <a style="color:#5912b7" href="{% url 'blog_name' %}">博客</a>
                    </li>
                    <li><a style="color:#5912b7" href="#">身边的趣事</a></li>
                    <li class="dropdown">
                        <a style="color:#5912b7" href="{% url 'product_list' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">购物分类 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a style="color:#5912b7" href="{% url 'Category_computer' %}">电脑</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color:#5912b7" href="{% url 'Category_mobile' %}">手机</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color:#5912b7" href="{% url 'Category_shoes' %}">鞋子</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color:#5912b7" href="{% url 'Category_Personal_modeling' %}">个人造型</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color:#5912b7" href="{% url 'Category_Headset' %}">耳机</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                        <a style="color:#5912b7" href="{% url 'product_list' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">博客分类 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a style="color:#5912b7" href="{% url 'blog_type_scrapy' %}">爬虫</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color:#5912b7" href="{% url 'blog_type_tools' %}">电脑所用的工具</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color:#5912b7" href="{% url 'blog_type_opencv' %}">opencv</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a style="color:#5912b7" href="{% url 'blog_type_hadhoop' %}">hadhoop</a></li>
                            </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="你对那些感兴趣呢～～">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                 <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown">
                         <a style="color:#4f0a6b" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>用户 <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li><a style="color:#4f0a6b" href="#">个人中心</a></li>
                             <li role="separator" class="divider"></li>
                             <li><a style="color:#4f0a6b" href="#">退出</a></li>
                         </ul>
                     </li>
                 </ul>
            </div>
        </div>
    </nav>
     <titel>
        {% block title %}{% endblock %}`
    </titel>


    {% block content %}{% endblock %}


</body>
</html>